* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

/*body {
    max-width: 100%;
}*/

p {
    line-height: 24px;
}

h1 {
    font-size: 36.75px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}


/* header */
nav {
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
    padding: 15px 25.58px;
}

nav ul , nav ul li, nav ul li a, nav button {
    display: inline-block;
    padding: 0;
}

nav a {
    transform: translateY(-4.8px);
    text-decoration: none;
    color: black;
    margin-left: 25.58px;
}

nav ul:nth-of-type(2) li:nth-of-type(1) a {
    margin-left: 243px;
}

nav a:hover {
    color: cyan;
    text-shadow: 1.5px 1.5px #0061ff;
}

nav button {
    transform: translateY(-4.8px);
    background-color: #0061ff;
    color: white;
    padding: 7.5px 19.19px;
    border: none;
    margin-left: 38.37px;
}

nav button:hover {
    background-color: cyan;
    color: black;
    box-shadow: 1.5px 1.5px black;
}

header div {
    background-color: #b4d0e7;
    width: 100%;
    height: 650px;
    padding: 100px;
}

header div h1 {
    font-size: 65px;
    margin-bottom: 28px;
}

header div p, header div span {
    width: 320px;
}

header div p {
    margin-bottom: 28px;
}

header div button {
    background-color: #0061ff;
    color: white;
    padding: 10.5px 38.37px;
    border: none;
    margin-bottom: 14px;
}

header div button:hover {
    background-color: cyan;
    color: black;
    box-shadow: 1.5px 1.5px black;
}

header div span {
    display: block;
    font-size: 14px;
    margin-bottom: 28px;
}

header div span:last-of-type::before {
    content: "\f063";
    font-family: FontAwesome;
    font-size: 34px;
}

header div> img {
    transform: scale(0.4);
    position: absolute;
    top: -45.5px;
    left: -102.32px;
}


/* main */

main section:first-of-type {
    width: 100%;
    height: 1750px;
    padding: 180px 120px 180px 180px;
}

main section:first-of-type div:first-of-type {
    transform: translateY(102.32px);
}

.colonna {
    display: inline-block;
    width: 281.37px;
    height: 840px;
    border: 1.5px solid #d0d0d3;
    margin: 18px 18px 18px 0;
}

.colonna:nth-of-type(2) {
    transform: translateY(20px);
}

.colonna:nth-of-type(3), .colonna:nth-of-type(4) {
    transform: translateY(70px);
}

.colonna span:first-of-type {
    display: block;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1.5px solid #d0d0d3;
}

.colonna h2 {
    margin: 27px 0 18px 25.58px;
}

.colonna b {
    font-size: 13.5px;
    margin-left: 25.58px;
}

.colonna b:after {
    content: "\20AC";
}

.colonna li {
    list-style: none;
    font-size: 12.5px;
    margin: 0 25.58px 18px 25.58px;
}

.colonna b + li {
    color: #667583;
    font-size: 12.5px;
    margin: 9px 0 36px 12px;
}

.colonna li + ul {
    padding-left: 11.5px;
}

.colonna button {
    background-color: #0061ff;
    color: white;
    padding: 9px 37px;
    border: none;
    margin: 21px 25.58px 30px 25.58px;
}

.colonna button:hover {
    background-color: cyan;
    color: black;
    box-shadow: 1.5px 1.5px black;
}

.colonna span:nth-of-type(2) {
    padding-bottom: 24px;
    border-bottom: 0.6px solid #d0d0d3;
    margin-left: 25.58px;
}

.colonna a {
    display: inline-block;
    color: #0061ff;
    padding-left: 3.84px;
}

.colonna h3 {
    margin: 60px 0 18px 25.58px;
}

.colonna h3 + ul {
    padding-left: 7,67px;
}

.colonna h3 + ul> li::marker {
    content: "\2714";
    color: #0061ff;
}

main section:first-of-type div:last-of-type {
    width: 892.7px;
    height: 200px;
    border: 1.2px solid #d0d0d3;
    border-top: none;
    margin-top: 60px;
}

main section:first-of-type div:last-of-type span:first-of-type {
    display: block;
    text-align: center;
    padding: 9px 0 9px 12.79px;
    border-top: 1.2px solid #e7e7e9;
    border-bottom: 1.2px solid #d0d0d3;
}

main section:first-of-type div:last-of-type span:first-of-type::before {
    content: "";
    font-family: FontAwesome;
}

main section:first-of-type div:last-of-type h2 {
    margin: 30px 0 15px 25.58px;
}

main section:first-of-type div:last-of-type h3 {
    margin: 0 0 30px 25.58px;
}

main section:first-of-type div:last-of-type span:last-of-type {
    display: block;
    font-size: 13px;
    margin-left: 25.58px;
}

main section:first-of-type div:last-of-type button {
    transform: translate(588.32px, -102px);
    background-color: #0061ff;
    color: white;
    padding: 9px 63.95px;
    border: none;
}

main section:first-of-type div:last-of-type button:hover {
    background-color: cyan;
    color: black;
    box-shadow: 1.5px 1.5px black;
}

main section:nth-of-type(2) {
    width: 892.7px;
    height: 500px;
    margin-left: 196.96px;
}

main section:nth-of-type(2) img {
    transform: scale(0.4);
    position: absolute;
    top: 1850px;
    left: -153.47px;
}

main section:nth-of-type(2) div:last-of-type {
    position: absolute;
    top: 2160px;
    left: 703.42px;
    width: 358px;
}

main section:nth-of-type(2) h2 {
    margin-bottom: 30px;
}

main section:nth-of-type(2) p {
    font-size: 13.5px;
    margin-bottom: 24px;
}

main section:nth-of-type(2) button {
    background-color: white;
    color: black;
    width: 147.08px;
    padding: 9px 19.18px;
    border: 1.2px solid black;
}

main section:nth-of-type(2) button:hover {
    background-color: darkorange;
    color: yellow;
    box-shadow: 1.5px 1.5px black;
}

main section:nth-of-type(3) {
    width: 892.7px;
    height: 850px;
    margin-left: 196.96px;
}

main section:nth-of-type(3) img:nth-of-type(1) {
    position: absolute;
    top: 2670px;
    left: 198.24px;
    width: 255.79px;
}

main section:nth-of-type(3) img:nth-of-type(2) {
    position: absolute;
    top: 2670px;
    left: 511.58px;
    width: 255.79px;
}

main section:nth-of-type(3) img:nth-of-type(3) {
    position: absolute;
    top: 2670px;
    left: 824,92px;
    width: 255.79px;
}

main section:nth-of-type(3) h2:nth-of-type(1) {
    position: absolute;
    top: 2868px;
    left: 198.24px;
    width: 255.79px;
}

main section:nth-of-type(3) p:nth-of-type(1) {
    position: absolute;
    top: 2940px;
    left: 198.24px;
    font-size: 13.5px;
    width: 255.79px;
}

main section:nth-of-type(3) span:nth-of-type(1) {
    text-decoration: underline;
    text-decoration-color: #808080;
}

main section:nth-of-type(3) h2:nth-of-type(2) {
    position: absolute;
    top: 2868px;
    left: 511.58px;
    width: 255.79px;
}

main section:nth-of-type(3) p:nth-of-type(2) {
    position: absolute;
    top: 2940px;
    left: 511.58px;
    font-size: 13.5px;
    width: 255.79px;
}

main section:nth-of-type(3) h2:nth-of-type(3) {
    position: absolute;
    top: 2868px;
    left: 824,92px;
    width: 255.79px;
}

main section:nth-of-type(3) p:nth-of-type(3) {
    position: absolute;
    top: 2940px;
    left: 824,92px;
    font-size: 13.5px;
    width: 255.79px;
}

main section:nth-of-type(3) img:nth-of-type(4) {
    position: absolute;
    top: 3180px;
    left: 198.24px;
    width: 255.79px;
}

main section:nth-of-type(3) img:nth-of-type(5) {
    position: absolute;
    top: 3180px;
    left: 511.58px;
    width: 255.79px;
}
main section:nth-of-type(3) img:nth-of-type(6) {
    position: absolute;
    top: 3180px;
    left: 824,92px;
    width: 255.79px;
}

main section:nth-of-type(3) h2:nth-of-type(4) {
    position: absolute;
    top: 3378px;
    left: 198.24px;
    width: 255.79px;
}

main section:nth-of-type(3) p:nth-of-type(4) {
    position: absolute;
    top: 3450px;
    left: 198.24px;
    font-size: 13.5px;
    width: 255.79px;
}

main section:nth-of-type(3) h2:nth-of-type(5) {
    position: absolute;
    top: 3378px;
    left: 511.58px;
    width: 255.79px;
}

main section:nth-of-type(3) p:nth-of-type(5) {
    position: absolute;
    top: 3450px;
    left: 511.58px;
    font-size: 13.5px;
    width: 255.79px;
}

main section:nth-of-type(3) h2:nth-of-type(6) {
    position: absolute;
    top: 3378px;
    left: 824,92px;
    width: 255.79px;
}

main section:nth-of-type(3) p:nth-of-type(6) {
    position: absolute;
    top: 3450px;
    left: 824,92px;
    font-size: 13.5px;
    width: 255.79px;
}

main section:nth-of-type(4) {
    width: 100%;
    height: 1100px;
}

main section:nth-of-type(4) h1 {
    width: 460.42px;
    margin: 0 0 24px 196.96px;
    font-size: 33px;
}

main section:nth-of-type(4) a {
    color: #0061ff;
    font-size: 13px;
    margin-left: 196.96px;
}

main section:nth-of-type(4) div:first-of-type {
    background-color: #a2d39b;
    position: absolute;
    top: 3930px;
    width: 204.63px;
    height: 204.63px;
    border: 12px solid #d0e9cd;
}

main section:nth-of-type(4) div:first-of-type> img {
    transform: scale(0.3) translate(-358px, 90px);
    filter: invert(100%) sepia(0%) saturate(12%) hue-rotate(161deg) brightness(102%) contrast(103%);
}

main section:nth-of-type(4) div:nth-of-type(2) {
    background-color: #61082b;
    position: absolute;
    top: 3930px;
    left: 204.63px;
    width: 204.63px;
    height: 204.63px;
}

main section:nth-of-type(4) div:nth-of-type(2)> img {
    transform: scale(0.3) translate(-319.74px, -150px);
    filter: invert(100%) sepia(0%) saturate(12%) hue-rotate(161deg) brightness(102%) contrast(103%);
}

main section:nth-of-type(4) div:nth-of-type(3) {
    background-color: #0093ce;
    position: absolute;
    top: 4116px;
    width: 204.63px;
    height: 204.63px;
}

main section:nth-of-type(4) div:nth-of-type(3)> img {
    transform: scale(0.5) translate(0, 138px);
    filter: invert(100%) sepia(0%) saturate(12%) hue-rotate(161deg) brightness(102%) contrast(103%);
}

main section:nth-of-type(4) div:nth-of-type(4) {
    background-color: #ff1c1c;
    position: absolute;
    top: 4116px;
    left: 204.63px;
    width: 204.63px;
    height: 204.63px;
}

main section:nth-of-type(4) div:nth-of-type(4)> img {
    transform: scale(0.3) translate(-319.74px, 6px);
    filter: invert(100%) sepia(0%) saturate(12%) hue-rotate(161deg) brightness(102%) contrast(103%);
}

main section:nth-of-type(4) div:nth-of-type(5) {
    background-color: #f5f5f5;
    position: absolute;
    top: 3930px;
    left: 409.26px;
    font-size: 13.5px;
    width: 442.52px;
    height: 409.26px;
    padding: 0 31.97px;
}

main section:nth-of-type(4) div:nth-of-type(5)> img {
    transform: scale(0.3) translate(-447.63px, -6px);
}

main section:nth-of-type(4) div:nth-of-type(5)> hr {
    transform: translateY(-24px);
    width: 44.76px;
    border: 0.1px solid #e6e6e7;
}

main section:nth-of-type(4) div:nth-of-type(5)> span {
    line-height: 78px;
}

main section:nth-of-type(4) div:nth-of-type(6) {
    background-color: #d5001f;
    position: absolute;
    top: 3930px;
    left: 851.78px;
    width: 204.63px;
    height: 204.63px;
}

main section:nth-of-type(4) div:nth-of-type(6)> img {
    transform: scale(0.3) translate(-332.53px, 102px);
    filter: invert(100%) sepia(0%) saturate(12%) hue-rotate(161deg) brightness(102%) contrast(103%);
}

main section:nth-of-type(4) div:nth-of-type(7) {
    background-color: #b4d0e7;
    position: absolute;
    top: 3930px;
    left: 1056.41px;
    width: 204.63px;
    height: 204.63px;
}

main section:nth-of-type(4) div:nth-of-type(7)> img {
    transform: scale(0.25) translate(-383.68px, 294px);
    filter: invert(100%) sepia(0%) saturate(12%) hue-rotate(161deg) brightness(102%) contrast(103%);
}

main section:nth-of-type(4) div:nth-of-type(8) {
    background-color: #0d2481;
    position: absolute;
    top: 4116px;
    left: 851.78px;
    width: 204.63px;
    height: 204.63px;
}

main section:nth-of-type(4) div:nth-of-type(8)> img {
    transform: scale(0.3) translate(-319.74px, -6px);
    filter: invert(100%) sepia(0%) saturate(12%) hue-rotate(161deg) brightness(102%) contrast(103%);
}

main section:nth-of-type(4) div:nth-of-type(9) {
    background-color: #ffd830;
    position: absolute;
    top: 4116px;
    left: 1056.41px;
    width: 204.63px;
    height: 204.63px;
}

main section:nth-of-type(4) div:nth-of-type(9)> img {
    transform: scale(0.5) translate(0, 60px);
    filter: invert(100%) sepia(0%) saturate(12%) hue-rotate(161deg) brightness(102%) contrast(103%);
}

main section:nth-of-type(4) div:nth-of-type(10) {
    background-color: #b4d0e7;
    position: absolute;
    top: 4302px;
    width: 100%;
    padding: 150px 613.89px 150px 191.84px;
}

main section:nth-of-type(4) div:nth-of-type(10)> strong {
    color: #61082b;
    font-size: 33px;
}

main section:nth-of-type(4) div:nth-of-type(10)> button {
    transform: translate(600px, -88px);
    background-color: white;
    color: black;
    width: 230.31px;
    padding: 9px 31.97px;
    border: none;
}

main section:nth-of-type(4) div:nth-of-type(10)> button:hover {
    background-color: blueviolet;
    color: yellow;
    box-shadow: 1.5px 1.5px black;
}

main section:nth-of-type(5) {
    width: 892.7px;
    height: 600px;
    margin-left: 196.96px;
}

main section:nth-of-type(5) h2 {
    padding-bottom: 48px;
    border-bottom: 1.2px solid #dcdcde;
}

main section:nth-of-type(5) b {
    display: block;
    font-size: 13.5px;
    padding: 36px 0;
    border-bottom: 1.2px solid #dcdcde;
}

main section:nth-of-type(5) div:hover b {
    padding: 36px 0 12px 0;
    border-bottom: none;
}

main section:nth-of-type(5) b::after {
    float: right;
    content: "\f078";
    font-family: FontAwesome;
    font-size: 12px;
    line-height: 18px;
    padding-right: 25.58px;
}

main section:nth-of-type(5) div:hover b::after {
    content: "\f053";
    font-family: FontAwesome;
    font-size: 12px;
}

main section:nth-of-type(5) p {
    height: 0;
    color: #555555;
    overflow: hidden;
}

main section:nth-of-type(5) div:hover p {
    height: 60px;
    overflow: visible;
    font-size: 13.5px;
    padding: 12px 0 72px 0;
    border-bottom: 1.2px solid #dcdcde;
}

main section:nth-of-type(5) div::after { /* clearfix */
    content: "";
    display: table;
    clear: right;
}


/* footer */
footer {
    background-color: black;
    width: 100%;
    height: 600px;
    padding: 120px 102.32px 0 89.53px;
}

footer ul {
    display: inline-block;
    list-style: none;
    margin-right: 42px;
}

footer ul:nth-of-type(5) {
    vertical-align: top;
}

footer li:first-of-type {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 30px;
}

footer li {
    margin-bottom: 12px;
}

footer li> a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

footer li> a:hover {
    color: cyan;
    text-shadow: 1.5px 1.5px blue;
}

footer hr {
    width: 100px;
    border-bottom: 0.1px solid #bfbfbf;
    margin: 132px 0 66px 38.37px;
}

footer select {
    background-color: black;
    color: #666666;
    width: 57.55px;
    border: none;
    margin-left: 51.16px;
    -webkit-appearance: none;
}

footer span:first-of-type::after {
    position: absolute;
    top: 5972px;
    left: 122.78px;
    content: "\f0ac";
    font-family: FontAwesome;
    font-size: 15.5px;
    color: #999999;
}

footer span:last-of-type::after {
    position: absolute;
    top: 5976px;
    left: 188px;
    content: "\f0d8";
    font-family: FontAwesome;
    font-size: 10px;
    color: #666666;
}
